﻿
@model IEnumerable<WebWinkel.Models.UnitBase>

<div class="list">
    
    @if (Model.Any())
            {
        <table>
            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a href="/UnitBase/ReadingOne/@item.Id" class="tile">
                            <span class="icon-arrow-right"></span>
                            <span class="screen-reader-text">Select</span>
                        </a>
                    </td>
                    <td>
                        @item.Code
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Geen basiseenheden ingevoerd in de UnitBase entiteit.</p>
    }
</div>
